*{
    border:1px solid black;
    color:#fff;
}
li{
    list-style-type: none;
}
body{
    margin: 10px 10px;
}
header{
    background-color: #f8f8f8;
}
.logo{
    background-color: #e77e23;
    width: 100px;
    height: 60px;
}
.link-list ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.green{
    background-color: #2ecd71;
}
.blue{
    background-color: #3598db;
}
.red{
    background-color: #e84c3d;
}
.yellow{
    background-color: #f1c40f;
}
.purple{
    background-color: #9b58b5;
}







footer{
    
    background-color: #f5f5f5;
}
footer ul{
    display: flex;
    flex-direction: row;
   
}
.bottom-nav ul li{
    background-color: #e77e23;
}
.socials{
    display: flex;
    justify-content: flex-end;
}